@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bg text-white antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}
a {
  @apply text-primary hover:underline;
}